<div>
    <span ng-show="totalCount" class="pagingInfo">found {{totalCount}} items</span>
    <div ng-hide="(!pagesCount || pagesCount < 2)" style="display:inline">
        <span class="pagingInfo">, page</span>
        <ul class="pagination pagination-sm">
            <li><a href="#" ng-hide="page == 0" ng-click="search(0)"><<</a></li>
            <li><a href="#" ng-hide="page == 0" ng-click="search(page-1)"><</a></li>
            <li ng-repeat="n in range()" ng-class="{active: n == page}">
                <a href="#" ng-click="search(n)" ng-if="n != page">{{n+1}}</a>
                <span ng-if="n == page">{{n+1}}</span>
            </li>
            <li><a href="#" ng-hide="page == pagesCount - 1" ng-click="search(page+1)">></a></li>
            <li><a href="#" ng-hide="page == pagesCount - 1" ng-click="search(pagesCount - 1)">>></a></li>
        </ul>
        <span class="pagingInfo">of {{pagesCount}}</span>
    </div>
</div>